.App{
	background-repeat: no-repeat;
	background-image: url('https://i.redd.it/rmmz9vnwvd031.jpg');
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	background-size: cover;
	justify-content: center;
}

.screenHeader{
	position: absolute;
	height: 100px;
	width: 100%;
}

.screenBody{
	display: flex;
	position: absolute;
	top:190px;
	height: auto;
	width: 100%;
}


.container{
	display: flex;
	flex-wrap: wrap;
	width: 1000px;
	padding-bottom: 25px;
	margin: auto;
}

.square{
	position: relative;
	height: 216px;
	width: 216px;
	border: 2px solid black;
	margin-top: 50px;
	margin-left:10%;
}


.brawlersCount{
	position: absolute;
	top: 19%;
	left: 42%;
	color:beige;
  font-size: 34px ;
	font-weight: bold;
}

.button{
	position: absolute;
	top: 20%;
	height:26%;
	left: 59%;
	width:auto;
	background-color: rgb(24, 23, 23);
	color:beige;
	font-size: large;
	font-weight: bold;
}



.brawlersImage{
	position: absolute;
	height: 81%;
	width: 100%;
}

.header{
	position: absolute;
	top: -15%;
	width:100%;
	left: -12px;
}

.rankImage{
	position: absolute;
	top: 30px;
}

.trophies{
	position: absolute;
	height: 53%;
	top: 12%;
	width:63%;
	border: 3px solid;
	left: 17%;
	background-color: rgb(41, 39, 39);
	}

.trophiesBar{
	position: absolute;
	height: 100%;
	background-color: rgb(226, 60, 9);
}

.trophiesImage{
	position: absolute;
	left: 34%
	}


.trophiesCount{
	position: absolute;
	top:1%;
	left: 118%;
	font-size: 129%;
	font-weight: bold;
	color: gold;
}

.body{
	position: absolute;
	bottom: 18%;
	width:100%;
	height:17%;
}

.characterName{
	position: absolute;
	bottom: 10%;
	width:50%;
	font-weight: bold;
	color: white;
	font-size: 130%;
}

.power{
	position: absolute;
	left: 55%;
	bottom: 3%;
	width:50%;
	height:89%;
}

.PowerText{
	position: absolute;
	bottom: 10%;
	left: -2%;
	font-size: 100%;
	font-weight: bold;
	color: white
}

.powerBox{
	position: absolute;
	bottom: 3%;
	left: 57%;
	height: 78%;
	width: 30%;
	background-color: black;
	border: 2px solid white;
}

.powerLevel{
	position: absolute;
	left: 29%;
	top: 5%;
	color: aliceblue;
	font-size: 123%;
	font-weight: bold;
}

.footer{
	position: absolute;
	height: 19%;
	bottom: 0%;
	width:100%;
	background-color: rgb(69, 216, 69)
}

.brawlCoin{
	position: absolute;
	top: 12%;
	right: 27%;
	border-radius: 50%;
}

.brawlCoinNumber{
	position: absolute;
	right: -170%;
	font-size: 150%;
	font-weight: bold;
	color:beige
}

.powerPoint{
	position: absolute;
	top: 12%;
	left: 9%;
	border-radius: 50%;
}

.powerPointsNumber{
	position: absolute;
	left: 116%;
	font-size: 147%;
	font-weight: bold;
	color: red
}

.rank{
	position: absolute;
	top: 19%;
	left: 6%;
	font-size: 123%;
	font-weight: bold;
}

.plusSymbol{
	position: absolute;
	top: -9%;
	left: 47%;
	font-size: 195%;
	color:rgb(33, 34, 48)
}

.upgradeUp{
	position: absolute;
	top: 10%;
	left: 40%;
}

.upgradeDown{
	position: absolute;
	top: 0%;
	left: 40%;
}












