.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}


.tableStyle {
	border: 2px solid black;
	background-color: papayawhip;
	text-align: center;
	width: 100px;
};

.tableStyles {
	position: absolute;
	border-Collapse: collapse;
	border: 2px solid black;
	background-color: papayawhip;
	text-align: center;
	margin-top: 10Px;
	left: 21%;
};
